{% extends 'base.html'%}
{% import 'macros.html as macro' %}

{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>
  </div>

  <!--Display profile photo-->
  <div class="col-md-4">

    {% if user.profile_pic_path %}
    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
    {%else%}
    <p></p>
    {% endif %}
    <h3>Pitches:</h3>
    <p>{{macro.displayPitches(pitches)}}</p>
  </div>
</div>
</div>
{% endblock %}