.navbar{
    background: white;
    color: black;
}

.container{
    background-color: pink;
    border-radius: 10px;
    border:1.5px white solid;
    margin-bottom:40px;
    color: black;
}

h1{
    text-align: center;
}

.container h1{
    text-align: center;
}
body{
    background-image: url("images/background.jpg");
}