.navbar{
    background: white;
    color: black;
}

.container{
    background-color:rgb(177, 176, 176);
    opacity: 0.6;
    border-radius: 10px;
    border:1.5px white solid;
    margin-bottom:40px;
    color: black;
}

h1{
    text-align: center;
}

.container h1{
    text-align: center;
}
body{
    background-image: url("black.jpg");
    background-size:cover; 
}